<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">A hackathon is an event where a bunch of people get together to make something that fits within the categories provided somehow. Even if you don't know how to code, you're still welcome to come! There will be people there to help you either learn, or you can team up with some people who do know how to code!</p>
                <a href="#" class="btn btn-default btn-xl">Link to registration</a>
            </div>
        </div>
    </div>
</section>
