<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Incentives
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                        
                    <i class="fa fa-4x fa-gift wow bounceIn text-primary"></i>
                    <h3>Prizes</h3>
                    <p class="text-muted">There will be prizes! And you don't need to win in order to get them!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                   <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>-->
                   <i class="fas fa-4x fa-utensils wow bounceIn text-primary" data-wow-delay=".1s"></i>
                   <h3>Food</h3>
                    <p class="text-muted">Food will be provided for the whole duration of the hackathon!</p>
                </div>
            </div>  
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-newspaper wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Experience</h3>
                    <p class="text-muted">Putting a project you did in a hackathon is great on a resume!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Meet people</h3>
                    <p class="text-muted">Meet people who have similar interest as you, or meet new people!</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
